<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-action-row>
  <a mat-raised-button *ngIf="!isLoading" color="primary" [routerLink]="['/category/add']"><mat-icon>add</mat-icon> NEW</a>
</mat-action-row>
<mat-accordion multi="true" *ngIf="categories.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let category of categories">
    <mat-expansion-panel-header>
      {{ category.name }}
    </mat-expansion-panel-header>
    <p>{{ category.description }}</p>
    <mat-action-row>
      <a mat-stroked-button color="primary" [routerLink]="['/category/edit', category.id]"><mat-icon>edit</mat-icon> EDIT</a>
      <button mat-stroked-button color="warn" (click)="onDelete(category.id)"><mat-icon>delete</mat-icon> DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="categories.length<=0 && !isLoading">No Categories Found</p>
