<mat-card>
  <!-- shows progress spinner if flag loading is true -->
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- creates form with fields. On edit mode fills the fields with ngModel -->
  <form
  (submit)="saveData(proForm)"
  #proForm="ngForm"
  *ngIf="!isLoading">
    <mat-form-field>
      <input
      type="text"
      matInput
      name="name"
      required
      placeholder="Name"
      [ngModel]="project?.name"
      #name="ngModel">
      <mat-error >Please enter a name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      type="text"
      matInput
      name="budget"
      required
      placeholder="Budget"
      [ngModel]="project?.budget"
      #name="ngModel">
      <mat-error >Please enter a budget</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      type="text"
      matInput
      name="description"
      required
      placeholder="Description"
      [ngModel]="project?.description"
      #name="ngModel">
      <mat-error >Please enter a description</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select a Status</mat-label>
      <mat-select name="status"  [compareWith]="compareObjects" [(ngModel)]="status" required>
        <mat-option  *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
      </mat-select>
      <mat-error >Please select a Status</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <!-- displays buttons of cancel and save -->
      <button
      mat-raised-button
      color="primary"
      type="submit"><mat-icon>save</mat-icon> SAVE</button>
      <a mat-raised-button color="warn" routerLink="/project" routerLinkActive="mat-accent"><mat-icon>cancel</mat-icon> CANCEL</a>
    </mat-card-actions>
  </form>
</mat-card>
