<mat-card>
  <!-- shows progress spinner if flag loading is true -->
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <!-- creates form with fields. On edit mode fills the fields with ngModel -->
  <form
  (submit)="saveData(phaForm)"
  #phaForm="ngForm"
  *ngIf="!isLoading">
    <mat-form-field>
      <input
      type="text"
      matInput
      name="description"
      required
      placeholder="Description"
      [ngModel]="phase?.description"
      #name="ngModel">
      <mat-error >Please enter a description</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <!-- displays buttons of cancel and save -->
      <button
      mat-raised-button
      color="primary"
      type="submit"><mat-icon>save</mat-icon> SAVE</button>
      <a mat-raised-button color="warn" routerLink="/phase" routerLinkActive="mat-accent"><mat-icon>cancel</mat-icon> CANCEL</a>
    </mat-card-actions>
  </form>
</mat-card>
