table{
  border: 1px solid black !important;
  margin: 1rem 0 !important;
  table-layout: fixed !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  background-color: ghostwhite;
}

th {

  font-size: 12px !important;
  font-weight: 500 !important;
}

td {
  color: rgba(0,0,0,.87);
  font-size: 14px !important;
}

.project th {
  background-color: #141464 !important;
  color: ghostwhite !important;
}
.phase th {
  background-color: #2457a3 !important;
  color: ghostwhite !important;
}
.expense th {
  background-color: hsl(221, 24%, 55%) !important;
  color: ghostwhite !important;
}


