<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
  (submit)="saveData(catForm)"
  #catForm="ngForm"
  *ngIf="!isLoading">
    <mat-form-field>
      <input
      type="text"
      matInput
      name="name"
      required
      placeholder="Name"
      [ngModel]="category?.name"
      #name="ngModel">
      <mat-error >Please enter a name</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color="primary"
    type="submit">Save</button>
  </form>
</mat-card>
