<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-action-row>

</mat-action-row>
<!-- <mat-accordion multi="true" *ngIf="subcategories.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let subcategory of subcategories">
    <mat-expansion-panel-header>
      {{ subcategory.name }}
    </mat-expansion-panel-header>
    <p>Category: {{ subcategory.category.name }}</p>
    <mat-action-row>
      <a mat-stroked-button color="primary" [routerLink]="['/subcategory/edit', subcategory.id]"><mat-icon>edit</mat-icon> EDIT</a>
      <button mat-stroked-button color="warn" (click)="onDelete(subcategory.id)"><mat-icon>delete</mat-icon> DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="subcategories.length<=0 && !isLoading">No Subcategories Found</p> -->

<mat-card>
  <a mat-raised-button *ngIf="!isLoading" color="primary" [routerLink]="['/subcategory/add']"><mat-icon>add</mat-icon> NEW</a>
</mat-card>
<mat-card>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. electricity" #input>
</mat-form-field>
</mat-card>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
